doctype html
html
  head
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body(ng-app='dotRacing')
    include ./headermobile.jade
    div.container-fluid#content(ui-view)
    include ./vendorscriptsmobile.jade
    include ./ngtemplatesmobile.jade
    script(src='/js/appmobile.js?v=5')
    